* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

  body {
    margin: 0;
    background-color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
  }

  a {
    text-decoration: none;
    color:#EE1286;
  }

  .backpack-homepage {
    padding-bottom: 2rem;
    margin: auto;
    justify-content: center;
    display: flex;
  }

  .bio-photo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 5rem;
    padding-top: 2rem;
    margin: auto;
  }

  .button {
    background-color: #EE1286;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
    font-size: 1rem;
    font-weight:600;
    cursor: pointer;
    margin: auto;
  }

  .button-wrapper {
  display: flex;
  justify-content: center;
  vertical-align: middle;
  padding-bottom: 5rem;
}

  .container {
    background-color: white;
    height: 100vh;
    padding: 40px;
    margin: auto;
    justify-content: center;
    }

  .credit {
    float:right;
  }

  .flex-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      padding-top: 2rem;
      padding-bottom: 5rem;
      align-content: center;
    }

    .flex-container-footer {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: auto;
      padding-left: 1rem;
      padding-right: 1rem;
      padding-top: 1rem;
      padding-bottom: 10rem;
    }

    .footer {
      margin: auto;
      padding-top: 2rem;
    }

/* header styles */

  h1 {
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 800;
    padding-bottom: 3rem;
    padding-top: 5rem;
    text-align: center;
  }

  h2 {
    font-size: 2rem;
    font-weight: 600;
    padding-bottom: 2rem;
    padding-top: 3rem;
    text-transform: uppercase;
    text-align: center;
  }

  h3 {
    font-size: 1.5rem;
    padding-bottom: 3rem;
    padding-top: 3rem;
    text-transform: uppercase;
    font-weight: bold;
  }

  h4 {
    font-size: 1.5rem;
    padding-bottom: 3rem;
    padding-top: 3rem;
    text-transform: uppercase;
    font-weight: bold;
  }

  h5 {
    font-size: 2rem;
    font-weight: 600;
    padding-bottom: 2rem;
    padding-top: 3rem;
    text-transform: uppercase;
    text-align: center;
  }

  h6 {
    font-size: 2rem;
    font-weight: 600;
    padding-bottom: 2rem;
    padding-top: 3rem;
    text-align: center;
    text-transform: uppercase;
  }

/* header */
header {
  background: url("../images/logo_vertical.png")no-repeat;
  background-position: 2rem 2rem;
  background-size: 23rem;
  border-bottom: .5px solid #000;
  display: flex;
  flex-direction:row;
  height:10rem;
  width: 100%;
}
/* Button styling */
.menu-toggle {
  background: none;
  display: block;
  height: 3rem;
  position: absolute;
  right: 2rem;
  top: 4rem;
  width: 3rem;
}
.menu-toggle:hover,
.menu-toggle:focus {
  color: #ff00a7;
}
/* X */
.close {
  position: absolute;
  right: 2rem;
  top: 3.5rem;
  width: 2rem;
  height: 2rem;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
/* Hamburger */
.hamburger {
  position: relative;
  padding-left: 1.25em;
}
/* Default styles + Mobile first Offscreen menu style */
.main-menu {
  position: absolute;
  display: none;
  right: 0;
  top: 0;
  height: auto;
	overflow-y: scroll;
	overflow-x: visible;
	transition: left 0.3s ease,
				      box-shadow 0.3s ease;
	z-index: 1;
}
.main-menu ul {
  list-style: none;
  margin: 0;
  padding: 2.5rem 0;
  width: 100%;
  text-transform: uppercase;
}
.main-menu a {
  display: block;
  padding: .75em 15px;
  line-height: 2rem;
  font-size: 1em;
  color: #000;
  text-decoration: none;
  font-weight: bold;
}
.main-menu .menu-close {
  position: absolute;
  right: 0;
  top: 0;
}

/*On small devices, allow it to toggle...*/
/* :target for non-JavaScript [aria-expanded] will be used if/when JavaScript is added to improve interaction, though it's completely optional.*/
.main-menu:target,
.main-menu[aria-expanded="true"] {
  display: block;
  right: 0;
  outline: none;
}

.main-menu:target .menu-close,
.main-menu[aria-expanded="true"] .menu-close {
  z-index: 10;
}

.main-menu:target ul,
.main-menu[aria-expanded="true"] ul {
  background:#fff;
  left:50%;
  height:30rem;
  width:30rem;
  z-index: 9;
}

/* Hamburger Menu background */
.main-menu:target + .backdrop,
.main-menu[aria-expanded="true"] + .backdrop{
  background: #fff2fa;
  cursor: default;
  display: block;
  height: 25rem;
  opacity:0;
  right:0;
  top:0;
  transition: all .2s ease-out;
  width: 50%;
  z-index:2;
}

@supports (position: absolute) {
  .main-menu,
  .main-menu:target + .backdrop,
  .main-menu[aria-expanded="true"] + .backdrop{
    position: absolute;
  }
}

/* Larger screen styling Horizontal menu */
@media (min-width: 768px) {
  header {
    align-items:center;
    background: url("../images/logo_horizontal.png")no-repeat 5% 50%;
    background-size:40rem;
    border-bottom: .5px solid #000;
    display: flex;
    flex-direction:row;
    height:10rem;
    width: 100%;
  }

  .menu-toggle,
  .main-menu .menu-close {
    display: none;
  }

  /* Undo positioning of off-canvas menu */
  .main-menu {
    display: block;
    height: auto;
		right: 2%;
		top: 4%;
  }

  .main-menu ul {
    display: flex;
    /* Undo off-canvas styling */
    padding: 0;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
    height: auto;
    width: auto;
    background: none;
  }
}

/* hero */

  .hero {
    background-image: url("../images/homepage2.jpg");
    background-size:cover;
    display:flex;
    height: 40rem;
    justify-content: center;
    margin:0;
    text-align: center;
    width:100%;
  }

  .hero-text {
    margin: auto;
    max-width: 200px;
    padding-top: 18rem;
    text-align: center;
  }

  .hero-header {
    font-family: "Abril Fatface", cursive;
    font-size: 2.4rem;
    text-align: center;
    font-style: bold;
  }

  hr.new1 {
    border: .5px solid;
    max-width: 250px;
  }

  hr.new2 {
    border: .5px solid;
    width: 100%;
  }

  li {
    display: flex;
    font-size: 1.5rem;
    align-items: center;
    text-align: center;
  }


  p {
    font-size: 1.5rem;
    line-height: 2.25rem;
    padding-bottom: 5rem;
    font-weight: 300;
  }

  p.one{
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2.75rem;
  padding-bottom: 2rem;
  }

  p.two {
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 2.75rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
  }

  p.three {
    font-weight: 200;
    font-size: 1rem;
    padding-top: 40rem;
    padding-right: 1rem;
  }

  p.four {
    font-weight: 300;
    font-size: 1.6rem;
    text-align: center;
  }

  .print-images {
    padding-bottom: 8rem;
    display: flex;
    margin: auto;
    justify-content: space-between;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
  }

  section {
    align: center;
  }

  ul {
    background-color: #FFFFFF;
    height: 3rem;
  }

.personas {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  padding: auto;
}

strong {
  font-weight: 600;
}

.persona-column img {
  width: 100px;
  height: 100px;
  align-self: center;
  margin: auto;
}

.image-wrapper {
  display: flex;
  width: 100%;
}

.image-wrapper img {
  margin: 0 auto;
}

.tab-covers {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
  grid-gap: 4rem;
  justify-content: center;
  align-content: center;
	padding: auto;
  margin: auto;
}

.broadsheet {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
  grid-gap: 4rem;
  justify-content: center;
  align-content:center;
  padding: auto;
  padding-bottom: 5rem;
}

@media screen and (min-width: 768px) {
  body {
    background-color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
  }

  a {
    text-decoration: none;
    color:#EE1286;
  }

  .container {
      background-color: white;
      height: 100vh;
      width: 80%;
      margin: auto;
      justify-content: center;
    }

  .flex-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      padding-top: 2rem;
      padding-bottom: 5rem;
    }

  .backpack-homepage {
    padding-right: 5rem;
    padding-bottom: 5rem;
  }

  .bio-photo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 5rem;
    padding-top: 2rem;
  }

  .button {
    background-color: #EE1286;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
    font-size: 1rem;
    font-weight:600;
    cursor: pointer;
    margin: auto;
  }

  .case-study {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .cs-text {
    max-width:60rem;
    align-content:left;
  }

  .credit {
    float:right;
  }

  .flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 2rem;
    padding-bottom: 5rem;
  }

  .flex-container-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 10rem;
    max-width: 400px;
    margin: auto;
  }

  .flip-cards {
    display: block;
  }

  .flip-card-one .flip-card-two {
  background-color: transparent;
  width: 400px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-one-inner .flip-card-two-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.flip-card-one:hover .flip-card-one-inner .flip-card-two:hover .flip-card-two-inner  {
  transform: rotateY(180deg);
}

.flip-card-one-front, .flip-card-one-back .flip-card-two-front, .flip-card-two-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-one-front .flip-card-two-front {
  background-color: #bbb;
  color: black;
  z-index: 2;
}

.flip-card-one-back .flip-card-two-back {
  background-color: #EE1286;
  color: white;
  transform: rotateY(180deg);
  z-index: 1;
}

  .footer {
    display: center;
    padding-top: 2rem;
  }

  h1 {
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 800;
    padding-bottom: 3rem;
    padding-top: 5rem;
    text-align: center;
  }

  h2 {
    font-size: 2rem;
    font-weight: 600;
    padding-bottom: 2rem;
    padding-top: 3rem;
    text-transform: uppercase;
    text-align: center;
  }

  h3 {
    font-size: 1.5rem;
    padding-bottom: 3rem;
    padding-top: 3rem;
    text-transform: uppercase;
    font-weight: bold;
  }

  h4 {
    font-size: 1.5rem;
    padding-bottom: 3rem;
    padding-top: 3rem;
    text-transform: uppercase;
    font-weight: bold;
  }

  h5 {
    font-size: 2rem;
    font-weight: 600;
    padding-bottom: 2rem;
    padding-top: 3rem;
    text-transform: uppercase;
    text-align: left
  }

  h6 {
    font-size: 2rem;
    font-weight: 800;
    padding-bottom: 2rem;
    padding-top: 3rem;
    text-align: center;
    text-transform: uppercase;
  }

  hr.new1 {
    border: .5px solid;
    width: 350px;
  }

  hr.new2 {
    border: .5px solid;
    width: 100%;
  }

/* hero */

  .hero {
    background-image: url("../images/homepage2.jpg");
    background-size:cover;
    display:flex;
    height: 70rem;
    justify-content: center;
    margin:0;
    text-align: center;
    width:100%;
  }

  .hero-text {
    margin: auto;
    max-width: 300px;
    padding-top: 40rem;
    text-align: center;
    }

  .hero-header {
    font-family: "Abril Fatface", cursive;
    font-size: 2.4rem;
    text-align: center;
    font-style: bold;
  }

  li {
    display: flex;
    font-size: 1.5rem;
    align-items: center;
    text-align: center;
  }

  p {
    font-size: 1.6rem;
    line-height: 2.25rem;
    padding-bottom: 5rem;
    font-weight: 300;
  }

  p.one{
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2.75rem;
  padding-bottom: 2rem;
}

p.two {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2.75rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

p.three {
  font-weight: 200;
  font-size: 1rem;
  padding-top: 70rem;
  padding-right: 1rem;
}

p.four {
  font-weight: 300;
  font-size: 1.6rem;
  text-align: center;
}

.personas {
  display: flex;
  flex-flow: row;
  align-content: center;
  justify-content: space-around;
}

.personas: second-child {
  width: 100px;
  height: 100px;
  align-self: center;
  justify-content: center;
}

.persona-column {
  flex-basis: 250px;
  align-content: center;
}


  .print-images {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 2rem;
    padding-bottom: 5rem;
  }

  section {
    align: center;
  }

strong {
  font-weight: 600;
}

  ul {
    background-color: #FFFFFF;
    height: 3rem;
  }
}
